@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* ---------------------------------------Colors */
body {
    background-color: #f1c40f;
}

/* ------------------------------------------------Special Margins, Text, paddings */
html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

/* ---------------------------------------Logo */

.logo > h1 {
    font-family: "press start 2p";
    color: #3498db;
    text-align: center;
    font-size: 50px;
    padding: 10px 0 5px 0;
}