@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* ------------------------------------------------Colors */
body {
    background-color: #f1c40f;
}

/* ------------------------------------------------Special Margins, Text, paddings */
html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.text {
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}

/* ------------------------------------------------Logo*/

.logo > h1 {
    font-family: "press start 2p", sans-serif;
    color: #3498db;
    text-align: center;
    font-size: 50px;
    padding: 10px 0 5px 0;
}

/* ------------------------------------------------Containers */

#outer-container {
    background: #95a5a6;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    border: 10px solid black;
}

#inner-container {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 10px solid black;
    display: grid;
    align-items: center;
    text-align: center;
}

#title {
    position: relative;
    top: 50%;
    font-family: "press start 2p", sans-serif;
}

#start {
    position: relative;
    top: 50%;
    border-radius: 50%;
    background: #3498db;
    width: 70px;
    height: 40px;
    margin: auto;
}

#start > p {
    margin: auto;
    padding-top: 7px;
}

#turn {
    background: black;
    width: 70px;
    height: 30px;
    color: red;
    margin: auto;
    top: 50%;
    position: relative;
}